


p{
    margin: 0 0 30px;
    text-align: center;
}

.tituloysubtitulo{
    text-align: center;
}



.linksTiempo{
    margin-top: 65px;
    
}
.linksTiempo p{
    margin-top: 20px;
    font-size: 16;
}



.datosJuegos{
    text-align: center;
    margin-top: 10%;
    position: relative;
    border: solid;
    text-align: left;
    float: right;
    height: -550px;
    padding: 30px;
    
}
.datosJuegos p{
    font-size: 16px;
}



.grafico{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.grafico{
    text-align: left;
    padding-left: 15px;
}



/****** INICIA FOOTER ******/
.tamaño{
    width: 40px;
    height: auto;
    margin: 1%;
}
.color-texto{
    color: rgb(255, 255, 255);
}
.btn-footer{
    color: rgb(255, 255, 255);
    border-radius: 100%;
    border-color: rgb(255, 255, 255);
    margin: 1%;
}
.margin-botton{
    margin-bottom: 4px
}
.padding-up{
    padding: 20px;
}
.padding-down{
    padding: 40px;
}