/* PALETA DE COLORES 
BODY                        rgb(40, 40, 40)
TRANSPARECIA PARA IMAGENES  rgba(34, 34, 34, 0.7)
LETRAS PARA TITULOS         rgb(255, 165, 0)
LETRAS PARA SUBTITULOS      rgb(226, 148, 0)
LETRAS EN GENERAL           rgb(255, 255, 255)
CONTENEDORES                rgb(46, 46, 46)
2° CONTENEDORES             rgb(70,70,70)
BORDES DE TARJETAS          rgb(255, 166, 0)
*/

body {
    background-color: rgb(40, 40, 40);
}

.bienvenida {
    color: rgb(255, 255, 255);
    margin: auto;
    user-select: none;
}

.tituloCarroCompras {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    color: rgb(255, 165, 0);
}


.tarjeta {
    border: solid rgb(255, 166, 0);
    background-color: rgb(27, 27, 27);
}

.tarjeta h3 {
    color: rgb(255, 165, 0);
    text-align: center;
}

.tarjeta h5 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.btnEliminar {
    width: 100%;
    color: #fff;
    background-color: rgb(255, 166, 0);
    ;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn:hover {
    color: black;
    background-color: orange;
    border-color: white;
    font-weight: 550;
    outline: none;
}

.imagen {
    width: 100%;
}




.boton-eliminar {
    color: #fff;
    font-weight: bold;
    height: 40px;
    outline: none;
}

.boton-eliminar:focus {
    outline: none;
    box-shadow: none;
}

.boton-eliminar:hover {
    color: black;
    background-color: orange;
    border-color: white;
    font-weight: 550;
    outline: none;
}

.boton-eliminar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.boton-comprar {
    color: #fff;
    background-color: orange;
    border-color: black solid 3px;
}

.boton-comprar:hover {
    color: black;
    background-color: orange;
    border-color: white;
    font-weight: 550;
}

.boton-comprar:focus {
    outline: none;
    box-shadow: none;
}

.boton-comprar {
    margin-top: 30px;
    margin-bottom: 30px;
}

.tamaño {
    width: 40px;
    height: auto;
    margin: 1%;
}

.text-footer {
    color: rgb(255, 255, 255);
    font-size: small;
}

.btn-footer {
    color: rgb(255, 255, 255);
    border-radius: 100%;
    border-color: rgb(255, 255, 255);
    margin: 1%;
}

.margin-botton {
    margin-bottom: 4px
}

.padding-up {
    padding: 20px;
}

.padding-down {
    padding: 40px;
}

.titulo {
    color: white;
    font-size: 400%;
    text-align: center;
}

.color-footer {
    background-color: #222222;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.total-pagar {
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.offcanvas-header {
    background-color: rgb(70, 70, 70);
    color: white;
}

.offcanvas-title {
    color: white;
}

.offcanvas-body {
    background-color: rgb(40, 40, 40);
    color: white;
    text-align: center;
}

.text-reset:focus {
    outline: none;
    box-shadow: none;
}