/****** NAVBAR *******/
body{
    background-color: rgb(40, 40, 40);
}
.fondoIniciarSesion{
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
    background-image: url(/imagenes/iniciarSesion/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -20px;
}
.fondoIniciarSesion:before{
    content:" ";    
    width: 100%;
    height: 100%;
    background: rgb(34, 34, 34, 0.767);
    position: absolute;
    top: 0;
    left: 0;
}
.panel-login {
    position: relative;
    width: 300px;	
    max-width: 300px;
    margin: auto;
    background: hsl(0, 0%, 0%);
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}
.panel-login img{
    width: 90px;
    align-content: center;    
}

.panel-login>.panel-heading {
	text-align:center;
    color: #ffa500;
}

.panel-login>.panel-heading h1{	
	margin-top: 20px;
    color: #ffa500;
	font-weight: bold; 
    font-size: 20px; 
}

.panel-login input[type="text"],
.panel-login input[type="password"] {
    background-color: transparent;
    margin: auto;    
}
.btn-login {	
    background-color: #ffa500;
	outline: none;
	color: rgb(0, 0, 0);
	font-size: 10px;    
	height: 20px;
	font-weight: bold;	
	text-transform: uppercase;    
	border-color: #000000;
    padding-bottom: 18px;
    
}
.btn-login:hover {
	color: #ffa500;
	background-color: #000000;
	border-color: #ffffff;
}
.forgot-password {	
    font-size: 11px;
    color: rgb(165, 165, 165);
    text-decoration: none;
    transition: all 0.2s;
}
.forgot-password:hover{
	text-decoration: none;
	color: rgb(255, 255, 255);
}



/****** INICIA FOOTER ******/
.footer-all{
    width: 100%;
    background: rgb(32, 32, 32);
}

.footer-all footer{
    max-width: 1200px;
    margin: auto;
}

.footer-all footer .logo-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-all footer .logo-footer img{
    width: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**/
.footer-all footer .contenedor-redes .redes-footer{
    display: flex;
    justify-content: center;
}

.footer-all footer .contenedor-imgRedes .redes-img{
    display: flex;
    justify-content: center;
}
/**/

/**/
.contenedor-redes{
    display: flex;
    justify-content: center;
}

.contenedor-imgRedes{
    display: flex;
    justify-content: center;
}
/**/

/**/
.footer-all footer .contenedor-redes .redes-footer img{
    width: 40px;
    margin: 20px;
    background: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: rgb(255, 255, 255);
}
.footer-all footer .contenedor-imgRedes .redes-img img{
    width: 40px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/**/

.footer-all footer .contenedor-redes .redes-footer img:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: rgb(255, 255, 255);
}

.footer-all footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: rgb(63, 63, 63);
}

.footer-all footer h4{
    text-align: center;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.footer-all footer .logo-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer-all footer .logo-footer img{
    width: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
