*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: rgb(32, 32, 32);
    box-shadow: 0 4px 25px -22px rgb(0, 0, 0);
    z-index: 2;
}
.header-contenido{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    color: rgb(255, 255, 255);
}
.logo h1 b{
    color: rgb(255, 165, 0);
}

.Usuario{
    height: 80px;
}

.Usuario nav{
    height: 100%;
}

.Usuario nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.Usuario nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Usuario-select:before{
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    transition: color 300ms;
}

.Usuario-select:hover:before{
    content: '';
    width: 100%;
    height: 4px;
    background: rgb(255, 165, 0);
    position: absolute;
    top: 0;
    left: 0;
}

.Usuario nav ul a{
    color: rgb(255, 255, 255);
    transition: color 300ms;
}

.Usuario nav ul a:hover{
    color: rgb(255, 165, 0);
}




.contenedor-accion{
    width: 100%;
    height:  500px;
    position: relative;
    top: 80px;
    background-image: url(../imagenes/categoriaAccion/accionjpg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor-accion:before{
    content: " ";
    width: 100%;
    height: 100%;
    background: rgba(34, 34, 34, 0.767);
    position: absolute;
    top: 0;
    left: 0;    
}
.contenedor-info-accion{
    width: auto;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; 
}
.contenedor-info-accion h1{
    font-size: 60px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
    
}
.contenedor-info-accion p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 300px;       
}

body{
    background-color:rgb(35, 35, 35);
}
.typewriter{
    margin-top: 10px;  
    margin-bottom: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.typewriter h1 {
    font-size: 40px;    
    user-select: none;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

.slidershow{
    width: 700px;
    height: 400px;
    overflow: hidden;               
}
.middle{
    position: relative;
    margin-top: 300px;
    margin-bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navegacion{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar{
    width: 50px;
    height: 10px;    
    border: 2px solid#fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}
.bar:hover{
    background-color: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    transition: 0.6s;
}
.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -20%;
}
#r3:checked ~ .s1{
    margin-left: -40%;
}
#r4:checked ~ .s1{
    margin-left: -60%;
}
#r5:checked ~ .s1{
    margin-left: -80%;
}


















.contenedor-footer{
    width: 100%;
    padding: 60px 0;
    background: rgb(32, 32, 32);
}

.contenedor-footer footer{
    max-width: 1200px;
    margin: auto;
}

.contenedor-footer footer .logo-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenedor-footer footer .logo-footer img{
    width: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenedor-footer footer .redes-footer img{
    width: 40px;
    margin: 20px;
    background: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: rgb(255, 255, 255);
}
.contenedor-footer footer .redes-footer img:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: rgb(255, 255, 255);
}

.contenedor-footer footer hr{

    margin-top: 20px;
    border: none;
    height: 2px;
    background: rgb(128, 128, 128);
}

.contenedor-footer footer h4{
    text-align: center;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.contenedor-footer footer .logo-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenedor-footer footer .logo-footer img{
    width: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}