*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
  background-color: rgb(40, 40, 40);
}
.top{
  background-color: rgb(36, 36, 36);
  border-bottom: solid rgb(105, 105, 105);
}
.bottom{
  background-color: rgb(36, 36, 36);
  border-top: solid rgb(105, 105, 105);
}
.all{
    border: 3px solid hsl(39, 100%, 50%);
    background-color: #000000;
    color: #ffffff;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto;
    border-radius: 20px;
  }
.separador{
    margin-top: 100px;
}
  
  /* Full-width inputs */
  input[type=text], 
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid orange;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
  }
  
  /* Set a style for all buttons */
.ingresar {
    background-color: hsl(39, 100%, 50%);
    color: #ffffff;
    border-color: solid #000000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s;
  }
  .psw a {
      color: white;
      text-decoration: none;
      transition: all 0.2s;
  }
  .psw a:hover{
    font-weight: bold;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: solid orange;
  }
  
 
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 30%;
    height: auto;
    border-radius: 5px;
  }
  
  
  /* The "Forgot password" text */
  span.psw {
    float: right;
    color: white;
  }

  .contenedor{
      margin-top: 10px;
      margin-bottom: 10px;
  }
/****** INICIA FOOTER ******/
.tamaño{
  width: 40px;
  height: auto;
  margin: 1%;
}
.color-texto{
  color: rgb(255, 255, 255);
}
.btn-footer{
  color: rgb(255, 255, 255);
  border-radius: 100%;
  border-color: rgb(255, 255, 255);
  margin: 1%;
}
.margin-botton{
  margin-bottom: 4px
}
.padding-up{
  padding: 20px;
}
.padding-down{
  padding: 40px;
}