


p{
    margin: 0 0 30px;
    text-align: center;
}

.tituloysubtitulo{
    text-align: center;
}



.linksTiempo{
    margin-top: 65px;
    
}
.linksTiempo p{
    margin-top: 20px;
    font-size: 16;
}



.datosJuegos{
    text-align: center;
    margin-top: 10%;
    position: relative;
    border: solid;
    text-align: left;
    float: right;
    height: -550px;
    padding: 30px;
    
}
.datosJuegos p{
    font-size: 16px;
}



.grafico{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.grafico{
    text-align: left;
    padding-left: 15px;
}






.contenedor-footer{
    width: 100%;
    padding: 60px 0;
    background: rgb(32, 32, 32);
}

.contenedor-footer footer{
    max-width: 1200px;
    margin: auto;
}

.contenedor-footer footer .logo-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenedor-footer footer .logo-footer img{
    width: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenedor-footer footer .redes-footer img{
    width: 40px;
    margin: 20px;
    background: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: rgb(255, 255, 255);
}
.contenedor-footer footer .redes-footer img:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: rgb(255, 255, 255);
}

.contenedor-footer footer hr{

    margin-top: 20px;
    border: none;
    height: 2px;
    background: rgb(128, 128, 128);
}

.contenedor-footer footer h4{
    text-align: center;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.contenedor-footer footer .logo-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contenedor-footer footer .logo-footer img{
    width: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}