/* PALETA DE COLORES 
BODY                        rgb(40, 40, 40)
TRANSPARECIA PARA IMAGENES  rgba(34, 34, 34, 0.7)
LETRAS PARA TITULOS         rgb(255, 165, 0)
LETRAS PARA SUBTITULOS      rgb(226, 148, 0)
LETRAS EN GENERAL           rgb(255, 255, 255)
CONTENEDORES                rgb(46, 46, 46)
2° CONTENEDORES             rgb(70,70,70)
BORDES DE TARJETAS          rgb(255, 166, 0)
*/


body {
  background-color: rgb(40, 40, 40);
}

.bienvenida {
  color: rgb(255, 255, 255);
  margin: auto;
  user-select: none;
}



/****** TITULO *******/
.contenedor-cover {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  background-image: url(../imagenes/iniciarSesion/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.contenedor-cover:before {
  content: " ";
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.7);
  position: absolute;
  top: 0;
  left: 0;

}

.contenedor-info-cover {
  width: auto;
  height: 500px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.contenedor-info-cover h1 {
  font-size: 60px;
  font-weight: 500;
  color: rgb(255, 165, 0);
}

.contenedor-info-cover p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300px;
}

/* FORMULARIO */

.tituloAjuste{
text-align: center;
margin: 10px;
color: rgb(255, 255, 255);
}

.fondo-inicio{
  background: rgb(46, 46, 46);
  padding-top: 20px;
  padding-bottom: 20px;
}

.all{
  border: 1px solid rgb(255, 166, 0);
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  border-radius: 20px;
}
.margen{
  margin: 20px;
}

.imgcontainer{
  align-items: center;
  align-content: center;
}

.imgcontainer img{
  text-align: center;
  align-items: center;
  margin: 24px 0 24px 0;
  max-width: 550px;
}

.imgAvatar {
  width: 100%;
  height: auto;
  border-radius: 500px;
  
}
.select-nac {
  margin-top: 15px;
  margin-bottom: 15px;
}

.select-nac input {
  background-color: rgb(255, 165, 0);
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
}

.select-nac select {
  background-color: rgb(255, 165, 0);
  color: rgb(0, 0, 0);
}

.select-nac select::before {
  background-color: rgb(255, 165, 0);
  color: rgb(0, 0, 0);
}

.select-nac option {
  background-color: rgb(255, 165, 0);
  color: rgb(0, 0, 0);
}

input[type=file] {
  display: none;
}
.botonAvatar{
  text-align: center;
  background-color: rgb(40, 40, 40);
  color: rgb(255, 255, 255);
  border: solid rgb(255, 165, 0);
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s;
  border-radius: 10px;
}

.botonAvatar:hover{
font-weight: bold;
color: rgb(255, 255, 255);
background-color: transparent;
border: solid rgb(255, 165, 0);
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(255, 165, 0);
  box-sizing: border-box;
  background-color: transparent;
  color: rgb(255, 255, 255);
}

.ingresar {
  background-color: rgb(255, 166, 0);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-color: solid rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s;
  border-radius: 5px;
}

button:hover {
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: transparent;
  border: solid rgb(255, 165, 0);
}


.contenedor {
  margin-top: 10px;
  margin-bottom: 10px;
}

.separador {
  margin-top: 5%;
}



/****** INICIA FOOTER ******/
hr {
  background: rgb(255, 255, 255);
}

.tamaño {
  width: 40px;
  height: auto;
  margin: 1%;
}

.text-footer {
  color: rgb(255, 255, 255);
  font-size: small;
}

.btn-footer {
  color: rgb(255, 255, 255);
  border-radius: 100%;
  border-color: rgb(255, 255, 255);
  margin: 1%;
}

.margin-botton {
  margin-bottom: 4px
}

.padding-up {
  padding: 20px;
}

.padding-down {
  padding: 40px;
}