*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  body{
    background-color: rgb(40, 40, 40);
  }
  .top{
    background-color: rgb(36, 36, 36);
    border-bottom: solid rgb(105, 105, 105);
  }
  .bottom{
    background-color: rgb(36, 36, 36);
    border-top: solid rgb(105, 105, 105);
  }
  .all{
      border: 3px solid hsl(39, 100%, 50%);
      background-color: #000000;
      color: #ffffff;
      width: 100%;
      max-width: 400px;
      height: auto;
      margin: auto;
      border-radius: 20px;
    }
  .separador{
      margin-top: 100px;
  }
    
    /* Full-width inputs */
    input[type=text], 
    input[type=password] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid orange;
      box-sizing: border-box;
      background-color: transparent;
      color: white;
    }
    
    /* Set a style for all buttons */
  .ingresar {
      background-color: hsl(39, 100%, 50%);
      color: #ffffff;
      border-color: solid #000000;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      transition: all 0.2s;
    }
    .psw a {
        color: white;
        text-decoration: none;
        transition: all 0.2s;
    }
    .psw a:hover{
      font-weight: bold;
    }
    
    /* Add a hover effect for buttons */
    button:hover {
      font-weight: bold;
      color: white;
      background-color: transparent;
      border: solid orange;
    }
    
   
    /* Center the avatar image inside this container */
    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
    }
    
    /* Avatar image */
    img.avatar {
      width: 30%;
      height: auto;
      border-radius: 5px;
    }
    





.titulo h2{
    text-align: center;
    color: rgb(255, 165, 0);
    margin-top: 15px;
    margin-bottom: 15px;
}



.container-all{

    width: 100%;
    max-width: 1000px;
    margin: auto;
    margin: 0;
    padding: 0;
    
}





.juegos img{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    margin: 0 0 0 -10;
    max-width: 180px;
    
}

.juegos{
    background-color: black;
    margin-top: 5px;
    border-radius: 5px;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

.juegos p{
    font-size: 22px;
    font-weight: 300;
    margin-top: 14%;
    color: #fff;
    
}

.datosJuegos h5{
    color: rgb(7, 3, 3);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    
}


.datosJuegos{
    
    margin-top: 2%;
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
}

.datosJuegos p{
    color: #fff;
}