* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(40, 40, 40);
}

.bottom {
  background-color: rgb(36, 36, 36);
  border-top: solid rgb(105, 105, 105);
}

.titulo h2 {
  text-align: center;
  color: rgb(255, 165, 0);
  margin-top: 15px;
  margin-bottom: 15px;
}
.juegos img {
  float: left;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  max-width: 200px;
}

.juegos {
  background-color: rgb(73, 73, 73);
  margin-top: 5px;
  border-radius: 5px;
  border: solid orange;
  border-width: 1px;
}

.juegos p {
  font-size: 22px;
  font-weight: 300;
  margin-top: 14%;
  color: #fff;
}

.datosJuegos h5 {
  color: rgb(255, 165, 0);
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.datosJuegos {
  margin-top: 2%;
  background-color: rgb(50, 50, 50);
  border: solid orange;
  border-width: 1px;
}

.datosJuegos p {
  color: rgb(255, 255, 255);
}

hr {
  color: rgb(255, 255, 255);
}
/* imagenes y el centro*/

.fondo{
    background-image: url(../../imagenes/categoriaAccion/fondoAdmin.jpg);
}
.fondo2{
    background-image: url(../../imagenes/categoriaFTP/ftp.jpg);

}.fondo3{
    background-image: url(../../imagenes/categoriaMundoAbierto/mundo4.jpg);

}.fondo4{
    background-image: url(../../imagenes/categoriaTerror/fondoAdminTerror.jpg);
}
.juegos p{
    text-align: center;
    font-size: 22px;
    font-weight: 300;
    margin-top: 7%;
    margin-bottom: 7%;
    color: #fff;
}



/****** INICIA FOOTER ******/
.tamaño {
  width: 40px;
  height: auto;
  margin: 1%;
}

.text-footer {
  color: rgb(255, 255, 255);
  font-size: small;
}

.btn-footer {
  color: rgb(255, 255, 255);
  border-radius: 100%;
  border-color: rgb(255, 255, 255);
  margin: 1%;
}

.margin-botton {
  margin-bottom: 4px
}

.padding-up {
  padding: 20px;
}

.padding-down {
  padding: 40px;
}